body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.section-sobre-nos {
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: -58px;
    margin-right: 500px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    text-align: center;
}

.tabela {
    text-align: center;
}

.orçamento {
    text-align: center;
}

a {
    color: white;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td {
    text-align: center;
    font-size: 17px;
}

.support-tab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#supportModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    width: 400px;
    max-width: 80%;
}

#supportMessage {
    width: 100%;
    margin-bottom: 10px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fafafa;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
